<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block myBlockTitle %}Hiking Nico{% endblock %}</title>

    <!-- loads the path to static files -->
    {% load static %}


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway' type='text/css'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'hiking/mystyle.css' %}"/>
    {% block extra_js %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">

                <a class="navbar-brand" href="{% url 'hiking:index' %}"> <i class="fas fa-hiking"></i>&nbsp; My Hiking Trips</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="myTopNavBar">
                 <ul class="nav navbar-nav navbar-right">
                     <li><a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
                     <li class="">
                         <td>
                             {% include 'hiking/search.html' %}
                         </td>
                     </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- to add blocks of code -->
    {% block myBlock %}
    {% endblock %}
</body>
</html>