{% extends 'hiking/base.html' %}
{% block myBlockTitle %}{{ hike.title }} - {{ hike.year }}{% endblock %}

{% block myBlock %}

<div class="container-fluid details-container">

    <div class="row">

        <!-- Top Hike Info -->
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">{{ hike.title }} {{ hike.year }}</div>
                <div class="panel-body">

                    <div class="col-sm-4 col-md-4 col-lg-4">

                    <p class="title">{{ hike.place }}</p>
                    <a href="{{ hike.hike_image_url }}">
                        {% if hike.hike_image_url %}
                            <img src="{{  hike.hike_image_url }}" style="width:100%" class="img-thumbnail">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">

                    <ul>
                        <li><p class="prose"> {{ hike.date }} - {{ hike.duration }}</p></li>
                        <p class="prose">{{ hike.description }}</p>
                    </ul>
                    </div>
                    <br>

                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>

    <div class="row">

        <!-- Bottom Detail Info -->
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">


            <div class="panel panel-default">

                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table" >

                        <tbody>
                         {% for tripdetail in hike.tripdetail_set.all %}

                            <tr>
                                {% if tripdetail.kind == 'image' %}

                                    <td class = "active">
                                         <h4> {{ tripdetail.title }}</h4>
                                         <p class ="prose"> {{ tripdetail.description }} </p>
                                         <a href="{{ tripdetail.details_url }}" target="_blank">
                                             <img src="{{ tripdetail.details_url }}" style="width:100%" class="img-responsive">
                                         </a>

                                     </td>
                                {% endif %}

                                {% if tripdetail.kind == 'movie' %}
                                    <td class="warning">
                                          <a href="{{ tripdetail.details_url }}" target="_blank"><h4><span class="glyphicon glyphicon-film"></span> {{ tripdetail.title }}</h4></a>
                                        <p class ="prose"> {{ tripdetail.description }} </p>
                                    </td>
                                {% endif %}

                                {% if tripdetail.kind == 'link' %}
                                    <td class = "warning">
                                        <a href="{{ tripdetail.details_url }}" target="_blank"><h4><span class="glyphicon glyphicon-link"></span> {{ tripdetail.title }}</h4></a>
                                        <p class ="prose"> {{ tripdetail.description }}</p>
                                    </td>
                                {% endif %}

                                {% if tripdetail.kind == 'gallery' %}
                                    <td class = "warning">
                                        <a href="{{ tripdetail.details_url }}" target="_blank"><h4><i class="fas fa-images"></i> {{ tripdetail.title }}</h4></a>
                                        <p class ="prose"> {{ tripdetail.description }}</p>
                                    </td>
                                {% endif %}

                           </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
         <div class="col-sm-1 col-md-1"></div>
    </div>

</div>

{% endblock %}
