{% extends 'hiking/base.html' %}
{% block myBlockTitle %}{{ hike.title }} - {{ hike.year }}{% endblock %}

{% block myBlock %}

<div class="container-fluid details-container">

    <div class="row">

        <!-- Top Hike Info -->
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">{{ hike.title }} {{ hike.year }}</div>
                <div class="panel-body">

                    <div class="col-sm-4 col-md-4 col-lg-4">

                    <p class="title">{{ hike.place }}</p>
                    <a href="{{ hike.hike_image_url }}">
                        {% if hike.hike_image_url %}
                            <img src="{{  hike.hike_image_url }}" style="width:100%" class="img-thumbnail">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">

                    <ul>
                        <li><p class="prose"> {{ hike.date }} - {{ hike.duration }}</p></li>
                        <p class="prose">{{ hike.description }}</p>
                    </ul>
                    </div>
                    <br>

                    {% if user.is_authenticated %}

                         <a href="{% url 'hiking:detail-create' hike.id %}">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Add New Item
                           </button>
                         </a>

                           <!-- Edit Details -->
                            <form action="{% url 'hiking:hike-update' hike.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="hike_id" value="{{ hike.id }}" />
                                <input type="hidden" name="title" value="{{ hike.title }}" />
                                <input type="hidden" name="place" value="{{ hike.place }}" />
                                <input type="hidden" name="country" value="{{ hike.country }}" />
                                 <input type="hidden" name="country" value="{{ hike.year }}" />
                                <input type="hidden" name="date" value="{{ hike.date }}" />

                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </form>

                            <!-- Delete Hike -->
                            <form action="{% url 'hiking:hike-delete' hike.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="hike_id" value="{{ hike.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>

    <div class="row">

        <!-- Bottom Detail Info -->
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">


            <div class="panel panel-default">



                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table" >

                        <tbody>
                         {% for tripdetail in hike.tripdetail_set.all %}

                            <tr>
                                {% if tripdetail.kind == 'image' %}

                                    <td class = "active">
                                         <h4> {{ tripdetail.title }}</h4>
                                         <p class ="prose"> {{ tripdetail.description }} </p>
                                         <a href="{{ tripdetail.details_url }}" target="_blank">
                                             <img src="{{ tripdetail.details_url }}" style="width:100%" class="img-responsive">
                                         </a>

                                     </td>
                                {% endif %}

                                {% if tripdetail.kind == 'movie' %}
                                    <td class="warning">
                                          <a href="{{ tripdetail.details_url }}" target="_blank"><h4><span class="glyphicon glyphicon-film"></span> {{ tripdetail.title }}</h4></a>
                                        <p class ="prose"> {{ tripdetail.description }} </p>
                                    </td>

                                {% endif %}

                                {% if tripdetail.kind == 'link' %}
                                    <td class = "warning">
                                        <a href="{{ tripdetail.details_url }}" target="_blank"><h4><span class="glyphicon glyphicon-link"></span> {{ tripdetail.title }}</h4></a>
                                        <p class ="prose"> {{ tripdetail.description }}</p>
                                    </td>
                                {% endif %}


                                {% if user.is_authenticated %}
                                    <td class = "danger">
                                        <div class="caption">


                                            <!-- Edit Details -->

                                            <form action="{% url 'hiking:detail-edit' tripdetail.pk %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="tripdetail_pk" value="{{ tripdetail.pk }}" />
                                                <input type="hidden" name="description" value="{{ tripdetail.title }}" />
                                                <input type="hidden" name="description" value="{{ tripdetail.description }}" />
                                                <input type="hidden" name="url" value="{{ tripdetail.url }}" />
                                                <input type="hidden" name="kind" value="{{ tripdetail.kind }}" />
                                                <input type="hidden" name="kind" value="{{ tripdetail.order }}" />

                                                <button type="submit" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                            </form>

                                            <!-- Delete Trip Detail -->
                                            <!-- /hiking/hike/<hike_id>/delete_tripdetail -->
                                            <form action="{% url 'hiking:detail-delete' tripdetail.pk %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="tripdetail_id" value="{{ tripdetail.id }}" />
                                                <button type="submit" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </form>

                                         </div>
                                    </td>
                                {% endif %}

                            </tr>


                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
         <div class="col-sm-1 col-md-1"></div>
    </div>

</div>

{% endblock %}
