<div class="pagination">
<span class="step-links">
    <h4>
    {% if my_hikes_all.has_previous %}
        <a href="?page={{ my_hikes_all.previous_page_number }}"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp; previous</a>
    {% endif %}

    <span class="current">
        Page {{ my_hikes_all.number }} of {{ my_hikes_all.paginator.num_pages }}
    </span>

    {% if my_hikes_all.has_next %}
        <a href="?page={{ my_hikes_all.next_page_number }}">next <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
    {% endif %}
    </h4>
</span>
</div>