
<div class="pagination">

{% if selected_hikes.has_other_pages %}
  <ul class="pagination">
    {% if selected_hikes.has_previous %}
      <li><a href="?page={{ selected_hikes.previous_page_number }}"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></a></li>
    {% else %}
      <li class="disabled"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></li>
    {% endif %}
    {% for i in selected_hikes.paginator.page_range %}
      {% if selected_hikes.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if selected_hikes.has_next %}
      <li><a href="?page={{ selected_hikes.next_page_number }}"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></li>
    {% else %}
      <li class="disabled"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
    {% endif %}
  </ul>
{% endif %}
</div>