{% extends 'hiking/base.html' %}
{% block myBlockTitle %}Add a New Hike{% endblock %}

{% block myBlock %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Hike</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'hiking/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a Hike?</h3>
                    <p>OwlsNest is an app that allows you to upload and store all of your hikes.</p>
                    <h3>How do I add images, movies and trip reports?</h3>
                    <p>First, create a new hike by filling out the form on this page. Once a hike is created you will be able to add/upload images, movies and reports.</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}