{% extends 'hiking/base.html' %}

{% block myBlock %}

<div class="hiking-container container-fluid">
    {% include 'hiking/filter_buttons.html' %}

    <!-- Hikes -->
    {% include 'hiking/hike_pagination.html' %}
    <div class="row">

        {% if my_hikes_all %}

            {% for hike in my_hikes_all %}

                <div class="col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <a href="{% url 'hiking:details' hike.pk %}">
                            <!-- <img src="{{ hike.url }}" class="img-responsive"> -->
                            <img src="{{ hike.hike_image_url }}" class="img-rounded">
                            <!-- <img src="http://127.0.0.1:8000/media/IMG_5117.JPG" class="img-responsive"> -->
                        </a>
                        <div class="caption">
                            <h4>{{ hike.title }} {{ hike.year }} - <small>{{ hike.place }}</small></h4>

                            <!-- View Details -->


                                <td>
                                    <a href="{% url 'hiking:details' hike.pk %}" class="btn btn-primary btn-sm" role="button"><i class="fas fa-list"></i> Hike Details</a>
                                    &nbsp;&nbsp;
                                </td>

                                <td>
                                    {% if hike.link_to_gallery %}
                                       <a href="{{ hike.link_to_gallery }}" class="btn btn-success btn-sm" role="button" target="_blank"><i class="fas fa-images"></i> Gallery</a>&nbsp;
                                    {% endif %}
                                </td>
                                <td>
                                    {% if hike.link_to_movie %}
                                       <a href="{{ hike.link_to_movie }}" class="btn btn-success btn-sm" role="button" target="_blank"><i class="fas fa-film"></i> Movie</a>&nbsp;
                                    {% endif %}
                                </td>
                                <td>
                                    {% if hike.link_to_map %}
                                       <a href="{{ hike.link_to_map }}" class="btn btn-success btn-sm" role="button" target="_blank"><i class="fas fa-map"></i> Map</a>&nbsp;
                                    {% endif %}
                                </td>
                                <td>
                                    {% if hike.link_to_report %}
                                       <a href="{{ hike.link_to_report }}" class="btn btn-success btn-sm" role="button" target="_blank"><i class="fas fa-file-alt"></i> Report</a>&nbsp;
                                    {% endif %}
                                </td>
                                <td>
                                    {% if hike.link_to_gps %}
                                       <a href="{{ hike.link_to_gps }}" class="btn btn-success btn-sm" role="button" target="_blank"><i class="fas fa-map-marked-alt"></i> GPS</a>&nbsp;
                                    {% endif %}
                                </td>
                        </div>
                    </div>
                </div>

                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

         {% endif %}
    </div>

    {% include 'hiking/hike_pagination.html' %}
</div>
<p class="footer"> Version 2.0 (14 mar 2021 - 14:00)</p>

{% endblock %}