<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React - Template</title>

<!--
    <script src="../../../js/react.min.js"></script>
    <script src="../js/react-dom.min.js"></script>
    <script src="../js/browser.min.js"></script>
-->

    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    {% load render_bundle from webpack_loader %}

</head>
<body>
    <div id="myHeaderContainer"></div>
    <div id="myMaterialContainer1"></div>
    <div id="myMaterialContainer2"></div>
    <div id="myMaterialContainer3"></div>

    <div id="myOtherContainer"></div>

    <!-- This shows the list read through the REST API: -->
    <div id="myListContainer"></div>


    {% render_bundle 'main' %}




</body>
</html>