<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}

    <title>Hiking - React REST</title>

    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


    <script src="{% static 'js/react.min.js' %}" defer></script>

<!--
    <script src="/node_modules/react-router/umd/ReactRouter.min.js"></script>
    <script src="/scripts/react-router/umd/ReactRouter.min.js"></script>
-->
    <!--
    <script src="https://unpkg.com/react-router@3.0.0"></script>
-->
    <!-- scripts from Content Distribution Network (CDN) -->
    <script src="https://npmcdn.com/react-router@2.4.0/umd/ReactRouter.min.js"></script>

    <script src="https://unpkg.com/redux@3/dist/redux.js"></script>
    <script src="https://unpkg.com/react-redux@4/dist/react-redux.js"></script>
    <script src="https://unpkg.com/redux-thunk@2/dist/redux-thunk.js"></script>

<!--
    <script src="https://unpkg.com/redux-logger@2/dist/index.js"></script>
    <script src="https://unpkg.com/redux-promise-middleware@4/dist/ReduxPromiseMiddleware.js"></script>
-->
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    {% load render_bundle from webpack_loader %}

</head>
<body>

    <!-- This shows the list read through the REST API: -->
    <div id="myContainer"</div>
    {% render_bundle 'main' %}

</body>
</html>